@import "tailwindcss";
@keyframes menuOpen {
  0% { transform: scaleY(0); opacity: 0; }
  100% { transform: scaleY(1); opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-5px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-menu-open {
  animation: menuOpen 0.4s ease-out forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.35s ease-out forwards;
}
